<div class="center">
  <h1>About Conscioux</h1>
  </br>
  <h5>Our Mission</h5>
  </br>
  </br>
  </br>
  <h5>The Team</h5>
  </br>
  </br>
  </br>
  <h5>Join Us</h5>
  <p>We are always looking for people to join our team. If you are passionate about
    spreading the word about a healthy and eco-friendly life style, please <%= link_to "contact", new_contact_path %> us!</p>
</div>