<div class="center">
  <h1>Blog</h1>
</div>
<div class="row">
  <div class="col s12 m12">
    <div id="effect-1" class="effects clearfix">
      <div class="img">
        <%= image_tag("meals/meals_breakfast.png", class: "meal-image") %>
        <div class="overlay">
          <a href="#" class="expand">Breakfast</a>
          <a class="close-overlay hidden">Breakfast</a>
        </div>
      </div>
      
      <div class="img">
        <%= image_tag("meals/meals_breakfast.png", class: "meal-image") %>
        <div class="overlay">
            <a href="#" class="expand">+</a>
            <a class="close-overlay hidden">Breakfast</a>
        </div>
      </div>
      
      <div class="img">
        <%= image_tag("meals/meals_breakfast.png", class: "meal-image") %>
        <div class="overlay">
            <a href="#" class="expand">+</a>
            <a class="close-overlay hidden">Breakfast</a>
        </div>
      </div>
      
      <div class="img">
        <%= image_tag("meals/meals_breakfast.png", class: "meal-image") %>
        <div class="overlay">
            <a href="#" class="expand">+</a>
            <a class="close-overlay hidden">Breakfast</a>
        </div>
      </div>
      
    </div>
  </div>
</div>