<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center text-lighten-2 home">Sandra Hallie</h1>
      <div class="row center">
        <h5 class="header col s12 light">- Jr. Ruby on Rails & iOS Developer -</h5>
      </div>
    </div>
  </div>
  <div class="parallax">
    <%= image_tag("salad.jpg") %>
  </div>
  </div> 
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <h3 class="brown-text"> - About - </h3>

        <p>I'm <b>Sandra Adams-Hallie</b> and I am an aspiring <b>iOS</b> and <b>Ruby On Rails developer</b>.</p>
        <p>In 2016, I hope to move to San Francisco and find meaningful work amidst talented people. Building apps and platforms 
        that contribute to a better world, not just for people, has become my passion. Besides coding, I love to learn about marketing 
        strategies and entrepreneurship.</p> 
        <p>I was born and raised in the Netherlands and hold degrees in Business Administration and International Affairs from an American university in Rome, Italy.
        </p> 
        <a href="/rails-projects" id="download-button" class="btn-large waves-effect waves-light pink darken-1">Portfolio</a>
        </br>
      </div>
    </div>
  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">Feel free to get in touch for feedback on my projects or for interesting opportunities!</h5>
          
          <div class="row">
            <div class="col s12 center">
              <a href="/contacts/new" id="download-button" class="btn-large waves-effect waves-light pink darken-1">Get in Touch</a>
            </div>
          </div>
      
      </div>
    </div>
  </div>
  
    <div class="parallax">
      <%= image_tag("salad.jpg") %>
    </div>
    
</div>
