<body class ="home-bg">
  <h2 class="homepage-h1">Veganista</h2>
  <h2 class="homepage-main">Vegan Lifestyle</h2>
  <p class="homepage-p">Is possible</p>
  
  <div class="row">
    <div class="col s12 m6 offset-m3 center">
      <div class="center home">
        <p class="homepage-p">Join Our Other Members<p>
          <div class="row">
            <div class="col s8 offset-s2 center">

            </div>
        </div>
     </div>
    </div>
  </div>
</body>