<div class ="home-bg"></div>
<container>
  <h1 class="header center text-lighten-2 home">Conscioux</h1>
  <div class="row center">
    <h5 class="header col s12 light">Healthy your way.</h5>
  </div>
  
  <div class="row">
    <div class="col s12 m6 offset-m3 center">
      <div class="center home">
        <a class="waves-effect waves-light btn-large">Browse Recipes</a>
        <a class="waves-effect waves-light btn-large">Browse Cosmetics</a>
     </div>
    </div>
  </div>
</container>
