<div class="center">
  <h1>Leave a Message</h1>
  
  <p>Feel free to get in touch for suggestions or interesting opportunities!</p>

  <%= render 'form' %>

  <p><%= link_to 'Back', root_path %></p>
</div>
