<%= image_tag("meals/meals_breakfast.png", size: "250x250", class: "meal-image") %>
<div class="row">
  <div class="s12 m4">
    <%= image_tag("meals/meals_lunch.png", size: "250x250", class: "meal-image") %>
    <%= link_to "Breakfast", breakfast_path, class: "waves-effect waves-light btn" %>
  </div>
</div> 