.cosmetics-bg {
  background-image: url(grass-bg.jpg);
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  z-index: -1;
  background-size:cover;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}


#cosmetics-title {
  font-family: Pacifico;
  margin-top: 20px;
  font-size: 90px;
  color: white !important;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black !important;
  margin-top: 60px;
  padding-bottom: 20px;
}

.intro-cosmetics {
  font-size: 20px;
}