#cosmetics-title {
  font-family: Pacifico;
  margin-top: 20px;
  font-size: 90px;
  color: white !important;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black !important;
  margin-top: 60px;
  padding-bottom: 20px;
}

.intro-cosmetics {
  font-size: 20px;
}