// .meal-image {
//     margin-right: 20px;
//     margin-left: 20px;
// }

// .meal-image:hover {
//     opacity: 0.8;
//     border: 4px solid #009688;
//     border-radius: 10px;
// }


a {
    text-decoration: none !important;
}

// a:hover {
//     color: #33cc33;
// }

.actions.col.s12.m8.offset-m2 {
    margin-top: 30px;
}

.btn.waves-effect.waves-light {
    margin-right: 20px;
    margin-bottom: 10px;
}

.waves-effect.waves-light.btn {
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn.a:hover {
    color: white !important;
}


.logo-image {
    max-height: 50px;
    max-width: 50px;
}

.page-footer {
    background-color: #d2a479 !important;
}

.nav-wrapper {
    background-color: #d2a479 !important;
}