
a {
    text-decoration: none !important;
}

a:hover {
    color: white;
}

.actions.col.s12.m8.offset-m2 {
    margin-top: 30px;
}

.btn.waves-effect.waves-light {
    margin-right: 20px;
    margin-bottom: 10px;
}

.waves-effect.waves-light.btn {
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn.a:hover {
    color: white !important;
}

.logo-image {
    max-height: 50px;
    max-width: 50px;
}

.page-footer {
    background-color: #d2a479 !important;
}

.nav-wrapper {
    background-color: #d2a479 !important;
}

h5.white-text.ul.li {
    color: green !important;
}

//Icons in the footer
.fa {
    color: white !important;
    margin-right: 10px;
    margin-left: 10px;
    size: 150%;
}