
a {
    text-decoration: none !important;
}

a:hover {
    color: #33cc33 !important;
}

.actions.col.s12.m8.offset-m2 {
    margin-top: 30px;
}

.btn.waves-effect.waves-light {
    margin-right: 20px;
    margin-bottom: 10px;
}