@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Gudea);
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:400,600);

p, h1, h2, h3, h4, h5, a {
  font-family: 'Josefin Slab', serif;
}

p, a, nav, li {
  font-size: 17px;
}

.home-bg {
  background-image: url(bg-field-home.jpg);
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  z-index: -1;
  background-size:cover;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

.dropdown-content {
  top: 15px;
}

.header.center.text-lighten-2.home {
  font-family: Pacifico;
  margin-bottom: 30px;
  font-size: 130px;
  color: white !important;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black !important;
  margin-top: 140px;
}

@media only screen and (max-width:800px){
  .header.center.text-lighten-2.home{
    font-size:80px !important;
  }
}

@media only screen and (max-width:550px){
  .header.center.text-lighten-2.home{
    font-size:70px !important;
  }
}

.header.col.s12.light{
  font-family: Pacifico;
  font-size: 50px;
  margin-top: 40px;
  margin-bottom: 50px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black !important;
}

.brand-logo.center {
  margin-top: 7px;
}

.footer-copyright {
  font-size: 12px !important;
}

