.meals-bg {
  background-image: url(bowl.png);
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  z-index: -1;
  background-size:cover;
  opacity: 0.8;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

#meal-p {
  font-family: Alegreya Sans;
  font-size: 50px;
  margin-top: 40px;
  margin-bottom: 20px;
  color: white;
}

#meals-title {
  font-family: Pacifico;
  margin-top: 30px;
  font-size: 130px;
  color: white !important;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black !important;
  margin-top: 60px;
  padding-bottom: 40px;
}


#meal-cards{

    margin-left: 20px;
    margin-top: 13px;
}

#meal-cards .content{
    width: 182px; /*328 co je 1/3 - 20margin left*/
    height: 121px;
    line-height: 20px;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
    position:relative;
}

#meal-cards .content a {
    position:absolute;
    font-size: 30px;
    bottom:5px;
    right:5px;
    background: none !important;
    color:#FFF;
}