.effects {
  padding-left: 0px;
}
.effects .img {
  position: relative;
  float: left;
  margin-bottom: 0px;
  width: 275px;
  height: 275px;
  overflow: hidden;
}
.effects .img:nth-child(n) {
  margin-right: 0px;
}
.effects .img:first-child {
  margin-left: 0px;
}
.effects .img:last-child {
  margin-right: 0;
}
.effects .img img {
  display: block;
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
}

.overlay {
  display: block;
  position: absolute;
  z-index: 20;
  background: #009688;
  overflow: hidden;
  transition: all 0.5s;
}

a.close-overlay {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  width: 45px;
  height: 45px;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  background-color: #000;
  cursor: pointer;
}
a.close-overlay.hidden {
  display: none;
}

a.expand {
  display: block;
  position: absolute;
  z-index: 100;
  width: 60px;
  height: 60px;
  color: #fff;
  text-align: center;
  line-height: 50px;
  font-weight: 400;
  font-size: 20px;
  
}


#effect-1 .overlay {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
}
#effect-1 .overlay a.expand {
  left: 0;
  text-align: center !important;
  margin: auto auto;
}
#effect-1 .img.hover .overlay {
  height: 50%;
}

/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Recipes Listing
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
#effect-1 .img.hover .recipes-overlay {
  height: 100%;
}

.recipes-overlay {
  display: block;
  position: absolute;
  z-index: 20;
  background: #009688;
  overflow: hidden;
  transition: all 0.5s;
  opacity: 0.7;
}


#effect-1 .recipes-overlay {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
}
#effect-1 .recipes-overlay {
  left: 0;
  text-align: center !important;
  margin: auto auto;
}
#effect-1 .img.hover .recipes-overlay {
  height: 100%;
}

/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Media Queries
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
@media only screen and (max-width: 1100px) {
  .effects {
    padding-left: 0px;
  }
  .effects .img {
    width: 100%;
  }
  .effects .img:nth-child(n) {
    margin-right: 0px;
  }
  .effects .img:first-child {
    margin-left: 0;
  }
  .effects .img:nth-child(2n-1) {
    margin-left: 0px;
  }
  .effects .img:nth-child(2n) {
    margin-right: 0;
  }
  .effects .img:last-child {
    margin-right: 0;
  }
}
@media only screen and (max-width: 520px) {
  .effects .img {
    width: 100%;
  }
  .effects .img:nth-child(n) {
    margin-right: 0;
  }
  .effects .img:first-child {
    margin-left: 0;
  }
  .effects .img:nth-child(2n-1) {
    margin-left: 0;
  }
  .effects .img:nth-child(2n) {
    margin-right: 0;
  }
  .effects .img:last-child {
    margin-right: 0;
  }
  .effects .img img {
    margin: 0 auto;
  }
}