<div class ="makeup-bg"></div>

<h1 id="cosmetics-title">Makeup</h1>
<div class="row">
  <div class="col s12 m8">
    <div class="white-background">
      <h3>Cruelty-free Makeup</h3>
      <p class="intro-cosmetics">We know it is hard to find cruelty-free cosmetics. We've got your back. </br></br>
      <b>All brands listed on Conscioux are guaranteed animal- and eco-friendly.</b></p>

      <p>
        
      </p>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="white-background">
      <h3>Our Favorites</h3>
      <p class="intro-cosmetics">We know it is hard to find cruelty-free cosmetics. We've got your back. </br></br>
      <b>All brands listed on Conscioux are guaranteed animal- and eco-friendly.</b></p>
    </div>
  </div>
</div>
