
<footer class="page-footer indigo darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Vegalista</h5>
        <p class="grey-text text-lighten-4">The team of Vegalista is on a mission
        to help people with a vegan lifestyle live healthier lives.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><%= link_to "About", "/about" %></li>
          <li><%= link_to "Blog", "/blog" %></li>
          <li><%= link_to "Contact", "#" %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center down">
    © 2016 Developed by Sandra Hallie
    </div>
  </div>
</footer>